filezilla/
htop/
iterm2/
evolution/
gnome*/
goa-1.0/
gtk-2.0/
ibus/
nitrogen/
pulse/
dconf/
*.dirs
*.locale
ranger/plugins/__pycache__
!.gitignore
mc/
nvim/plugged
nvim/plugins
coc/
tags
lazygit/
lazydocker/
Nuget/
yt-dlp/
mume/

QtProject
configstore
