snippet bsemicolon; "add semicolon ;"
(${1:code..});
endsnippet

snippet csemicolon; "add semicolon ;"
{${1:code..}};
endsnippet

snippet cli "console.log()"
console.log(${1:code..})
endsnippet

snippet arrf "arrow function"
() => {
	${1:code..}
}${2}
endsnippet
